<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Admin Page</h1>
<a th:href="@{/index}">home</a>
<h1>Upload an Image</h1>
<form th:action="@{/admin-page}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*"/>
    <button type="submit">Upload</button>
</form>

<div th:if="${imageUrl}">
    <h2>Uploaded Image:</h2>
    <img th:src="@{${imageUrl}}" alt="Uploaded Image" width="300"/>
</div>

</body>
</html>