<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roughneck Art Shop</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" >
</head>
<body class="container">
<div class="bg-layer"></div>
<div>
    <h1><u>ROUGHNECK</u></h1>
    <h2>Art Shop</h2>
    <p class="subtitle">Original Art from Our Creative Collective</p>
    
    <div th:if="${error}" class="error-message" th:text="${error}"></div>

    <div class="buttons">
        <a th:href="@{/inventory}"><button class="btn-dark">Browse Inventory</button></a>
        <a th:href="@{/sign-in}"><button class="btn-gold">Sign In</button></a>
    </div>

    <p class="signup-text">Don't have an account ?</p>
    <a th:href="@{/sign-up}"><button class="signup-btn">Sign Up</button></a>
</div>
</body>
</html>