<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/css/sign-in.css}">
</head>
<body>

<a th:href="@{/index}" class="home-btn">Home</a>
<a th:href="@{/sign-up}" class="second-btn">Sign Up</a>

<div class="login-box">
    <form th:action="@{/sign-in}" method="post">

        <input type="text" th:name="usernameEmail" placeholder="Username / Email Address" class="input-field">

        <input type="text" th:name="password" placeholder="Password" class="input-field">

        <div th:if="${error}" class="error-msg" th:text="${error}"></div>

        <button type="submit" class="sign-in-btn">Sign In</button>
    </form>
</div>

</body>
</html>