body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: brightness(0.75);
}

.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 10px 25px;
    font-size: 20px;
    border: 2px solid #d4af37;
    background-color: rgba(0, 0, 0, 0.6);
    color: #d4af37;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.home-btn:hover {
    background-color: #d4af37;
    color: black;
}

.second-btn {
    position: absolute;
    top: 80px;
    left: 20px;

    padding: 10px 25px;
    font-size: 20px;
    border: 2px solid #d4af37;
    background-color: rgba(0, 0, 0, 0.6);
    color: #d4af37;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.second-btn-btn:hover {
    background-color: #d4af37;
    color: black;
}

.login-box {
    width: 35%;
    height: 65%;
    padding: 5%;
    border: 3px solid #d4af37;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    text-align: center;
}

.input-field {
    width: 95%;
    padding: 2.5%;
    margin: 20px 0;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.sign-in-btn {
    margin-top: 15px;
    padding: 12px 40px;
    font-size: 20px;

    background-color: #445b34;
    color: white;
    border: 2px solid #d4af37;
    border-radius: 6px;

    cursor: pointer;
    transition: 0.3s;
}

.sign-in-btn:hover {
    background-color: #d4af37;
    color: black;
}

.error-msg {
    color: #ff6b6b;
    margin-bottom: 15px;
    font-size: 18px;
}