body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.bg-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
    z-index: -1;
}

.container {
    z-index: 1;

}

h1 {
    font-size: 5vw;
    margin: 0;
    letter-spacing: 4px;
    color: #c8a95a;
    font-family: "Source Code Pro", serif;
}

h2 {
    font-size: 3.5vw;
    margin-top: 20px;
    font-family: "Brush Script MT", "Lucida Handwriting", serif;
}

.subtitle {
    margin-top: 20px;
    font-size: 2vw;
}

.buttons {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.btn {
    padding: 36px 80px;
    font-size: 48px;
    border: 5px solid #c8a95a;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

/* Black button */
.btn-dark {
    display: inline-block;
    padding: 20px 60px;
    font-size: 2vw;
    border: 5px solid #c8a95a;
    color: #c8a95a;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: 0.3s;
}

.btn-dark:hover {
    background-color: #c8a95a;
    color: black;
}

/* Gold button */
.btn-gold {
    background-color: #c8a95a;
    color: white;
    border: 5px solid white;
    display: inline-block;
    padding: 20px 60px;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-gold:hover {
    background-color: white;
    color: #d4af37;
}

.signup-text {
    margin-top: 90px;
    font-size: 36px;
}

.signup-btn {
    display: inline-block;
    padding: 20px 60px;
    font-size: 2vw;
    border: 5px solid #c8a95a;
    color: #c8a95a;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: #c8a95a;
    color: black;
}
